<div class="onboarding-wizard">
    <nav class="topnavbar navbar navbar-inverse publicnav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/"> <img src="/images/top-logo.png" alt="WonderWe"/> </a>
            </div>
            <div id="navbar">
                <div class="col-sm-offset-3 hidden-xs">
                    <ul class="nav navbar-nav mainnav">
                        <li>
                            <p><strong>Suggestions</strong></p>
                        </li>
                    </ul>
                </div>
                <p class="visible-xs onboarding-stepText"><strong>Suggestions</strong></p>
                <div class="nav navbar-nav navbar-right">
                    <p>Step 3 of 5</p>
                </div>
            </div>
    </nav>

    <div class="container-fluid">
        <div class="row onboarding-step">
            <div class="col-xs-12 no-gutter">
                <h2>Based on your choices, here are some people and organizations we think you'd enjoy following:</h2>

                <div class="follow-container col-centered">
                    <ul id="follow-carousel" class="owl-carousel owl-theme follow-suggestions" data-userid="{{userid}}">
                        {{#each charity}}
                        <!-- Organization -->
                        <li class="item">
                            
                            <img src="{{profile_pic_url}}" alt="Saint Paul's Outreach profile picture" class="img-rounded" />
                                
                            <h4>{{name}}</h4>
                            <p>{{greater description 150}}</p>
                            <a class="btn btn-subtle btn-follow js-showUserProfile" data-type="{{entity_type}}" data-id="{{id}}">
                                <span class="follow-text">Follow</span>
                            </a>
                        </li>
                        {{/each}}
                        {{#each users}}
                        <!-- Donor -->
                        <li class="item">
                            
                            <img src="{{profile_pic_url}}" alt="Saint Paul's Outreach profile picture" class="img-circle" />
                                
                            <h4>{{name}}</h4>
                            <p>{{greater description 150}}</p>
                            <a class="btn btn-subtle btn-follow js-showUserProfile" data-type="{{entity_type}}" data-id="{{id}}">
                                <span class="follow-text">Follow</span>
                            </a>
                        </li>
                        {{/each}}
                        {{#each code}}
                        <!-- Campaign -->
                        <li class="item campaign-follow">
                            <div class="campaign-bg-img" style="background-image: url('/images/cause-categories/arts.jpg');"></div>
                            <div class="campaign-description">
                                <h4>{{name}}</h4>
                                <p>{{greater description 150}}</p>
                                <a class="btn btn-subtle btn-follow js-showUserProfile" data-type="{{entity_type}}" data-id="{{id}}">
                                    <span class="follow-text">Follow</span>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ul>

                    <div class="customNavigation">
                        <a class="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="next"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>

            </div>
            <div class="onboarding-buttons">
                <a class="skip skipbtn" href="/pages/import/donors/onboarding/{{userid}}">Skip</a>
                <a class="btn btn-orange continuebtn" id="js-follow-save" href="/pages/import/donors/onboarding/{{userid}}" style="display: none;">Save and Continue <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>

    </div>