
<div id="poster-content" style="width:100%;">
		<span class="heading"><strong>{{title}}</strong></span><br>
		<img src="{{image}}" class="img-thumbnail img-pdf" />
		<div class="campaign-desc">
			<span>{{{description}}}</span>
		</div>
		<div class="campaign-promo">
			<span class="heading1">Show your support</span><br>
			<span class="heading2">Go to WonderWe.com and enter We#{{codetext}} to make a donation</span>
		</div>
		<table class="tblborder" align="center">
			<tr>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
				<td>
					<div class="website-promo"><img src="{{domain}}/images/wecode.png" /><span>WonderWe.com</span></div>
					<div class="rotated-text"><span class="rotated-text__inner">We#{{codetext}}</span></div>
					<div class="rotated-text"><span class="rotated-text__inner"><strong>{{title}}</strong></span></div>
				</td>
			</tr>
		</table>
	</div>