<div class="row signup-box">
	<div class=" success col-sm-7 col-md-6 col-lg-5 col-centered whitebox">{{#if teamid}}
	<h4><b>Please set a password to create a team fundraiser</h4></b>{{else}}
		<h2>Please enter a new password</h2>
		{{/if}}
		<br />
		<form class="form-horizontal" id="js-resetPassword">
			<fieldset>
				<div class="form-group">
					<div class="input-group col-sm-7">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input type="password" class="form-control" id="js-password" name="password" placeholder="New Password">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group col-sm-7">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input type="password" class="form-control" id="js-passwordConform" name="confirmPassword" placeholder="Confirm Password">
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<a class="btn btn-orange" data-id="{{id}}" data-charityName="{{charityName}}" data-charityid="{{charityid}}" data-from="{{from}}" data-fundraiseslug="{{slug}}" data-fundraiseuserid="{{userid}}" data-fundraisecodeid="{{codeid}}" data-referenceuserid="{{referenceuserid}}" 
						data-teamid="{{teamid}}"
						data-maincampaignslug="{{maincampaignslug}}"
						id="js-causeResetPassword">Save Password</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="col-centered col-sm-12 js-dashboard" style="margin-top:13%;padding-top:3%;display:none;" align="center">
	<img src="/images/check-green.png" alt="Completed" />
	<a class="org-onboarding-finish btn btn-orange" data-loading-text="Loading..." data-userid="{{id}}" href="#"> Go to Dashboard</a>
</div>
